* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 100vh;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
}

.header__menu-link {
    color: black;
    font-family: arial;
    font-size: 18px;
    margin-left: 40px;
}
.header__menu-link:hover {
    color: #2b6ccd;
}

.header__content-title {
    font-size: 60px;
    color: blue;
    text-transform: uppercase;
    font-family: arial;
}
.header__content-text {
    color: blue;
    font-size: 20px;
    max-width: 600px;
    width: 100%;
    margin: 30px 0;
    font-family: arial;
}
.header__content-btn {
    max-width: 179px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    padding: 20px 0;
    color: white;
    border-radius: 5px;
}

.header__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__top {
    display: flex;
    flex-direction: column;
    height: 100%;
}